In [2]:
print("Hello")

Hello

In [1]:
## Global Variable
res_name="cha time"
res_owner="japan"
def re_details():
  print(res_name,res_owner)
def res_add():
  res_address="dhaka"
  print(res_name,res_owner,res_address,sep="|")
re_details()
res_add()

cha time japan
cha time|japan|dhaka

In [4]:
## class Example

class Rest():
  res_name=""
  res_owner=""
  
  def re_details(self):
    print(self.res_name,self.res_owner)
  
  def det_address(self,address):
    print(self.res_name,self.res_owner)
    print(address)

rest1=Rest()
rest1.res_name="cha"
rest1.res_owner="japan"
rest1.det_address("dhaka")
print(type(rest1))

cha japan
dhaka
<class '__main__.Rest'>

In [7]:
##constructor in python magic method

class Resturant():
  def __init__(self,name,owner):
    self.name=name
    self.owner=owner
  def details(self):
    print("From class: ",self.name,self.owner)

rest2=Resturant("cha time","japan")
rest2.details()
print(rest2.name,rest2.owner,sep="|")

From class:  cha time japan
cha time|japan

In [9]:
class Resturant():
  def __init__(self,name,owner):
    self.name=name
    self.owner=owner
  def details(self):
    print("From class: ",self.name,self.owner)
    
    
rest_list=[]

for x in range(0,3):
  
  rest= Resturant("rest "+str(x),30+x)
  rest_list+=[rest]

for x in rest_list:
  x.details()

From class:  rest 0 30
From class:  rest 1 31
From class:  rest 2 32

In [10]:
#Attribute value modification
#direct modification

class Resturant():
  def __init__(self,name,owner):
    self.name=name
    self.owner=owner
  def details(self):
    print("From class: ",self.name,self.owner)

rest2=Resturant("cha time","japan")
rest2.name="chayer adda"
rest2.details()

From class:  chayer adda japan

In [12]:
#Attribute value modification
#indirect modification via method

class Resturant():
  def __init__(self,name,owner):
    self.name=name
    self.owner=owner
  def change_nam(self,name):
    self.name=name
  def details(self):
    print("From class: ",self.name,self.owner)

rest2=Resturant("cha time","japan")
rest2.change_nam("chayer adda")
rest2.details()

From class:  chayer adda japan

In [0]:
##lifecycle

In [18]:
##inheritence

class Math:
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def sum(self):
    return self.x+self.y
  
class MathExt1(Math):
  def __init__(self,x,y):
    super().__init__(x,y)
  def sub(self):
    return self.x-self.y

    
    
## multiple inheritence

class MathExtra:
  def division(self,x,y):
    return x/y
  
class MathExt2(MathExt1,MathExtra):
  
  def __init__(self,x,y):
    super().__init__(x,y)
  def multi(self):
    return self.x*self.y


  
#mathext=MathExt1(10,2)
#print(mathext.sub())

#math_obj=Math(2,4)
#print(math_obj.sum())

mathext2=MathExt2(10,2)
print("sum: ",str(mathext2.sum()))
print("sub: ",str(mathext2.sub()))
print("mul: ",str(mathext2.multi()))

print("division: ",str(mathext2.division(x=mathext2.x,y=mathext2.y)))

sum:  12
sub:  8
mul:  20
division:  5.0

In [20]:
##method overriding
class Math:
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def sum(self):
    return self.x+self.y
class MathExt1(Math):
  def __init__(self,x,y):
    super().__init__(x,y)
  def sum(self):
    return self.x+self.y+100
  def show_all(self):
    print("sum: "+str(self.sum()))
    print("sum from parents class: "+str(super().sum()))
    
mathext1=MathExt1(8,2)
mathext1.show_all()

sum: 110
sum from parents class: 10

In [0]:
##method overloding
#is not acceptable by python
#cause in python one can do with empty value in method

there is no PRIVATE in python 
for that we can follow convention 
like before a variable we use _(underscore) so that another dev can understand it is an private variable

In [22]:
##class variable
#instance variable
class Alien:
  legs=5  #class variable
  
  def __init__(self,name):
    self.name=name  #instance variable
    

alien1=Alien('Maven')
alien2=Alien('woven')

#alien1.legs=99
#print(alien1.legs,alien2.legs)

alien1.__class__.legs=99 ##dandar class
print(alien1.legs,alien2.legs)

99 99

In [23]:
## is (identity same)
#and === useage is content same
#object comparison

x=[1,2,3]
xx=x

print(x==xx)
print(x is xx)

True
True

In [24]:
class Person:
  def __init__(self,name):
    self.name=name
  def __str__(self):
    return f'{self.__class__.__name__} class,obj name:{self.name}'
p1=Person('bill')
print(p1)

Person class,obj name:bill